*{
margin:0px;
padding:0px;	
}

body {
	background: url(../img/cocina.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;	
}

div[class*="color1"]{
  background: #838da3;
  border: 0px;
  padding: 2px;
  font-size: 1rem;
}

div[class*="color2"]{
  background: gray;
  border: 0px;
}

div[class*="color3"]{
	opacity: 0.9;
}


