/* label color */

.cuadro{
	background:#d6e6d3;
	width:100%;
	height: 160px;
	position: fixed;
	top:0px;
	left:0px; 
	z-index: -1;
	
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
}



.margen {
	padding-top: 15px;
}

.margen1 {
	padding-top: 30px;
}

.tab {
	margin: 40px;
	padding-top: 0px;
	font-size: 200% 
}

.redondear {
	border-radius: 10%;
}

.texto {
	font-size: 3vw;
}
