/* label color */

body {
	background-image: url(../img/turismo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.margen {
	padding-top: 15px;
}

.margen1 {
	padding-top: 0px;
}

.tab {
	margin: 40px;
	padding-top: 0px;
	font-size: 200% 
}

.redondear {
	border-radius: 10%;
}

	<!--
	background-color:#2ab8fa;
	background-image: url(../img/turismo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-->