/* label color */

body {
	background-image: url(../img/turismo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.margen {
	padding-top: 25px;
}

.margen1 {
	padding-top: 25px;
}

.tab {
	margin: 25px;
	padding-top: 25px;
	size: 100%
}

.redondear {
	border-radius: 10%;
}

	<!--
	background-color:#2ab8fa;
	background-image: url(../img/turismo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-->